.login-user{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.login-user__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--light-green);
}
.btn-container__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  gap: 2.6rem;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .login-user__img {
    background-image: url('../../../../assets/images/strawberries-cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
  }
  .login-user__form {
    width: 70vw;
  }
}

@media screen and (min-width: 993px) {
  .login-user__img {
    background-image: url('../../../../assets/images/strawberries-cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
  }
  .login-user__form {
    width: 50vw;
  }
  .card {
    width: 50%;
    gap: 1.4rem;
  }
}
