<section class="home-container">
  <div>
    <app-banner-commerce></app-banner-commerce>
    <div class="home-menu">
      <div class="home-menu__container">
        <div class="home-menu__item--admin" [routerLink]="'/commerce/admin'">Panel Adminstrativo</div>
      </div>
      <div class="home-menu__item--cart" [routerLink]="'/commerce/cart'">
        <img src="https://cdn-icons-png.freepik.com/512/1413/1413908.png"
        alt="carrito de compras"
        width="25">
        <span class="cart__counter">{{ getCartLength() }}</span>
      </div>
      <div class="home-menu__item--cart" (click)="logOut()">
        <img
          src="https://static.vecteezy.com/system/resources/previews/027/013/238/non_2x/sign-out-icon-vector.jpg"
          alt="puerta de salida"
          width="25"
        >
      </div>
    </div>
  </div>
  <section class="products-container">
    <div *ngFor="let product of products">
      <div class="card">
        <img [src]="product.image" alt="{{ product.name }}" class="card-img-top">
        <h2 class="card-title">{{ product.name }}</h2>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">Precio: ${{ product.price }}</p>
        <p class="card-text">Cantidad disponible: {{ product.quantity }}</p>
        <p class="card-text">Categoría: {{ product.category }}</p>
        <div class="products-container__btn">
          <div></div>
          <button type="submit" [disabled]="product.quantity == 0" class="btn btn-primary" (click)="addToCart(product)">
            Agregar
            <img src="https://cdn-icons-png.freepik.com/512/1413/1413908.png"
              alt="carrito de compras"
              class="white-img"
              width="20">
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
